{% extends "base.html" %}

{% load static %}
{% block head_content %}
    <title>lidisen</title>
{% endblock%}

{% block container %}

<main role="main">

  <br/><br/><br/><br/><br/><br/>

  <h1>lidisen</h1>
  
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consequatur recusandae quam repellat ipsum adipisci, exercitationem eligendi quisquam ab illum magni nulla! Cupiditate iste suscipit ipsam totam atque facilis ea.</p>
  
  <br/><br/>

</main>

{% endblock %}