{% load static %}

<!-- Footer -->
<footer class="page-footer font-small footer-bg-light-gray lighten-5">

  <hr class="featurette-divider">
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <img class="logo-footer" src="{% static 'img/og.png' %}" alt="logo-footer" data-at2x="assets/img/logo.png" width="74" height="84">
        <h6 class="text-uppercase font-weight-bold"></h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>Less to repair your home<br/>          
          <footer class="blockquote-footer"><strong>This is just a test</strong><cite title="Source Title"> we are working for you.</cite></footer>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Started on</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p class="text-orange">March 2022</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Developed by</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="link-custom" href="https://lidisen.com">lidisen</a>
        </p>


      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-phone mr-3"></i><a class="link-black-custom" href="tel:55 2686 3566" target="_blank">55 2686 3566</a>
        </p>
        <p>
          <i class="fab fa-whatsapp mr-3"></i>
          <a class="link-black-custom" href="https://api.whatsapp.com/send?phone=525526863566&text=Hola,%20administración%20del%20residencial%20Malli." target="_blank">55 2686 3566</a>
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <small class="text-white">
      © Copyright 2022 all rights reserved by
      <a class="text-white" href="https://lidisen.com">lidisen.com</a>
    </small>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->